body{
    font-family: "Open Sans", sans-serif !important;
}
.lab1 .tablink {
    background-color: #fe9c2c;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 16px;
    font-size: 13px;
    width: 15%;
    margin-right: 11px;
    border-radius: 15px;
}
.container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  

button.tablink:hover ,button.tablink:active {
    border: 1px solid #000;
    text-align: center;
    color: #fe9c2c;
    background-color: rgb(207, 193, 193) !important;
    padding: 5px 17px;
}

.nav-tab:hover{
    color: #fe9c2c;
}
.tab {
    color: #000;
    display: none;
    background-color: #fff;
    box-sizing: border-box;
}
.header-title {
    font-size:40px;
    text-align: center;
    margin: 30px 0;
}
.header__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header__form-item {
    margin:0;
    padding:10px 20px;
}
.header__form-item-input {
    padding:10px;
    width:100%;
    letter-spacing: 1px;
}
.header__form-item--radio {
    display: flex;
    align-items: center;
}
.header__form-item--label {
    margin:0 10px;
}
.form-inline {
    text-align: right;
}
.navbar {
min-height: 40px;
margin-bottom: 0px;
width: 100%;
text-align: center;
}
button.saveOpen{
    margin: 20px;
    padding: 10px 20px;
}
table>tbody>tr>td, .table>tfoot>tr>td {
padding: 8px;
line-height: 1.42857143;
vertical-align: top;
border-top: 1px solid #ddd;
}
.tabs, .tab .exercise {
    text-align: center;
    max-width: 1170px;
}


.tabs li , .tab li{
    display: inline-block;

}

.tabs li a , .tab li a{
    display: inline-block;
    padding: 4px 19px;
    font-size: 14px;
    color: #444;
}

.labNumber {
    text-align: center;
    padding: 20px;
}

.labNumber li {
    display: inline-block;
}

.labNumber li a {
    color: #FFF;
    display: inline-block;
    padding: 5px 30px;
    font-size: 15px;
    
}


.labNumber li a.active,
.tabs li a.active {
    border: 1px solid #fe9c2c;
    text-align: center;
    color: #fe9c2c;
    background-color: #FFF !important;
    border-radius: 5px;
}
.tab{
    /* border: 2px solid #fe9c2c; */
    padding: 12px;
    border-radius: 5px;
}
.exercise li a:hover{
    color: #fe9c2c;
}
.exercise li a.active{
    text-align: center;
    color: #fe9c2c;
    background-color: #FFF !important;

}
.exercise{
    margin-top: 4px;
}

.ex {
    display: none;
    border: 1px solid #fe9c2c;
    border-radius: 5px;
}
.ex.active{
    display: block;
}

.tab.active {
    display: block;
}
